<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wzx.name %>
</p>

<p>
  <strong>Information:</strong>
  <%= @wzx.information %>
</p>

<p>
  <strong>Food:</strong>
  <%= @wzx.food %>
</p>

<p>
  <strong>Tuijian:</strong>
  <%= @wzx.tuijian %>
</p>
<p>
  <strong>pt:</strong>
  <%= @wzx.pt %>
</p>

<%= link_to 'Edit', edit_wzx_path(@wzx) %> |
<%= link_to 'Back', wzxes_path %>
